/* Custom Neumorphic Card */
.neumorphic-card {
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    border-radius: 16px;
  }
  
  .neumorphic-card:hover {
    box-shadow: 6px 6px 12px #d4d4d4, -6px -6px 12px #f8f8f8;
  }
  